.fade-enter-active,
.fade-leave-active {
  transition: .2s ease;
}

.fade-enter-from {
  opacity: 0;
  transform: translateY(.25rem);
}

.fade-leave-to {
  opacity: 0;
  transform: translateY(-.25rem);
}