.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease;
  overflow: clip;
  interpolate-size: allow-keywords;
  max-height: 40vh;
}

.fade-enter-from {
  opacity: 0;
  max-height: 0;
}

.fade-leave-to {
  opacity: 0;
  max-height: 0;
}

@media (width >= 48rem) {
  .fade-enter-active,
  .fade-leave-active {
    transition: all .2s ease;
    overflow: clip;
    interpolate-size: allow-keywords;
    max-height: auto;
    height: auto;
  }

  .fade-enter-from {
    opacity: 0;
    transform: translateY(.25rem);
    max-height: auto;
    height: auto;
  }

  .fade-leave-to {
    opacity: 0;
    transform: translateY(-.25rem);
    max-height: auto;
    height: auto;
  }
}