.to-underlined:hover,
.links-to-underlined a:hover,
.links-underlined a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.links-underlined a:hover {
  opacity: .5;
}

.prose {
  a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }

  &.spaced-paragraphs p:not(:last-child) {
    margin-bottom: .75em;
  }
}

.column .self-end {
  margin-block-start: auto;
  align-self: auto;
}